@charset "UTF-8";



.centerbox {width: 1340px; margin: 0 auto; }


/* header */
#header {width: 100%; height: 180px; position: relative; background: #dc052d;}
#header .login_box {height: 45px; float: right; text-align: right; font-size: 0;}
#header .login_box a {line-height: 45px; display: inline-block; text-align: center; font-size: 16px; padding: 0 20px;}


#header h1 {width: 180px; height: 55px; background: #000; position: absolute; left: 45%; top: 20px; margin-left: -90px;}
#header .gnb {width: 100%; height: 80px; float: left; margin-top: 55px; text-align: center; font-size: 0;}
#header .gnb > li {display: inline-block; height: 80px; line-height: 80px; font-size: 20px; position: relative; font-family: 'Pretendard-SemiBold';}
#header .gnb li a {display: block; padding: 0 80px;}
#header .gnb li .lnb {position: absolute; width: 100%; background: #5a9640; display: none;}
/* #header .gnb li:hover .lnb {display: block;} */
#header .gnb li .lnb li {line-height: 60px;}
#header .gnb li .lnb a {padding: 0; color: #fff;}
#header .gnb li:hover {background: #fff;}
#header .gnb li:hover a {color: #000;}




#visual {width: 100%; height: 590px; /* background: url('../images/visual.jpg') center top no-repeat; background-size: cover; */}
#visual .text_box {width: 700px; height: 310px;float: left; margin: 140px 0 0 0px;}
#visual .text_box strong {font-size: 40px; line-height:1.3; margin-bottom: 25px; display: block; word-break: keep-all; color: #fff;}
#visual .text_box p {font-size: 19px; line-height: 1.5; color: #fff; margin-bottom: 25px;word-break: keep-all;}
#visual .text_box > a {font-size: 20px; background: #fff; color: #000; padding: 16px 40px; display: inline-block; border-radius: 15px; font-family: 'Pretendard-SemiBold';}
#visual .text_box a:hover {background: #000;}
#visual .text_box a:hover {color: #fff;}

#visual .centerbox {position: absolute; z-index: 7; left: 50%; transform: translateX(-50%);}

.swiper {width: 100%; height: 100%;}

.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex;justify-content: center; align-items: center;}

.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}

.swiper-button-next, .swiper-button-prev
{color: #a50422 !important;}

#section_box {width: 100%; }

#section_box #section1 {width: 100%; background: #000;  padding: 13px 0; box-shadow: inset 0 0 0 5px #6effa2}


#section_box #section1 .notice h2 {width: 130px; height: 32px; font-size: 16px; background: #c60428; color: #fff; text-align: center; line-height: 32px; float: left;}
#section_box #section1 .notice ul {width: 1100px; float: left; margin-left: 60px;}
#section_box #section1 .notice ul li {height: 32px; line-height: 32px; }
#section_box #section1 .notice ul li a {color: #fff; display: block; font-family: 'Pretendard-Bold'; font-size: 18px;}

#section_box #section2 {width: 100%; padding: 100px 0; }

#section_box #section2 .recent {width: 405px; float: left; margin-right: 60px; box-sizing: border-box;}
#section_box #section2 .cont img {width: 405px;}
#section_box #section2 .cont p {font-size: 18px; padding: 0; font-family: "Pretendard-SemiBold"; line-height: 1.5; letter-spacing: 0.10em;}
#section_box #section2 .recent:last-child {margin: 0;}

#section_box #section2 .recent h2 {height: 50px; font-size: 24px;}
#section_box #section2 .recent h2 .more {width: 29px; height: 29px; background: #506a01; float: right; color: #fff; }
#section_box #section2 .recent:nth-child(2) .more {background: #7baf00;}


#section_box #section2 .recent h2 .more .material-symbols-outlined {font-size: 28px; margin-left: 1px; transition: .15s;}

#section_box #section2 .recent h2 .more:hover .material-symbols-outlined {transform: rotate(90deg);}



#section_box #section2 .recent li {font-size: 16px; height: 50px; line-height: 50px; border-bottom: 1px solid #d6d6d6;}



#section_box #section3 {width: 100%; background:url('../images/main_banner.jpg'); padding: 100px 0; background-attachment: fixed;}
#section_box #section3 .ex {font-size: 26px; margin-bottom: 45px; line-height: 1.3; text-align: center; color: #fff; font-family: 'Pretendard-Bold'}
#section_box #section3 .ex span {color: #beca28;}
#section_box #section3 .cont li{width: 432px; float: left; margin-right: 20px; height: 130px; background: rgba(255, 255, 255, 0.2); margin-bottom: 20px; transition: 0.2s; position: relative; top: 0;}
#section_box #section3 .cont li:nth-child(3n) {margin-right: 0;} 
#section_box #section3 .cont li a {display: block; height: 100%;}
#section_box #section3 .cont li h3 {padding-top: 34px; font-size: 30px; color: #fff; height: 30px; text-align: center; transition: 0.3s; font-family: 'Pretendard-Bold';}
#section_box #section3 .cont li p {font-size: 20px; color: #9dc188; text-align: center; width: 200px; margin: 0 auto; font-family: 'Pretendard-SemiBold';}
#section_box #section3 .cont li:hover {background: rgba(255, 255, 255, 0.9); top: -5px;}
#section_box #section3 .cont li:hover h3 {color: #538d3a;}


#section_box #section4 {width: 100%; padding: 100px 0 20px 0;}
#section_box #section4 .cont li {width: 640px; height: 150px; background: #495408; float: left; margin-right: 60px; position: relative; background:url('../images/13Banner.png'); background-size: cover;}
#section_box #section4 .cont li:last-child {margin-right: 0;}
#section_box #section4 .cont li a {display: block;}
#section_box #section4 .cont li h3 {margin: 44px 0 5px 26px; border: 1px solid #000; font-size: 22px; color: #fff; float: left; width: 70%;}
/* #section_box #section4 .cont li h3 span {background: #7baf00; width: 29px; height: 29px; float: left; margin-right: 11px; text-align: center; line-height: 29px;} */

#section_box #section4 .cont li p {margin-left: 26px; font-size: 14px; color: #afc188; float: left; width: 70%;}

#section_box #section4 .cont li img {position: absolute; right: -50px; bottom: -100px; opacity: 0.1;}
#section_box #section4 .cont li:last-child img {right: -20px; bottom: -50px;}

#section_box #section4 .cont li:hover img {animation: icon1 1s infinite;}
@keyframes icon1 {
    0% {bottom: -100px;}
    50% {bottom: -80px;}
    100% {bottom: -100px;}
}
#section_box #section4 .cont li:last-child:hover img {animation: icon2 1s infinite;}
@keyframes icon2 {
    0% {bottom: -50px;}
    50% {bottom: -30px;}
    100% {bottom: -50px;}
}

#section_box #section5 {width: 100%; background: #fff; padding: 100px 0;}
#section5 h2 {color: #000; text-align: center; font-size: 30px; margin-bottom: 40px; font-family: 'Pretendard-Bold';}

/* flort 방식 */
#section5 .cont li {float: left; margin-right: 20px; margin-bottom: 20px; padding: 25px 16px; box-sizing: border-box; position: relative; overflow: hidden;}
#section5 .cont li:nth-child(1) {width: 253px; height: 348px; background: #e4e69d; background: url('../images/Highlights.png'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(2) {width: 388px; height: 175px; background: #5d5a4b; background: url('../images/New.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(3) {width: 248px; height: 175px; background: #52a8a2; background: url('../images/Jersrys-Traninig.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(4) {width: 391px; height: 175px; background: #8e793e; margin-right: 0; background: url('../images/Clothing.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(5) {width: 656px; height: 154px; background: #5e6570; background: url('../images/Accessoires2.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(6) {width: 391px; height: 154px; background: #e4e69d; margin-right: 0; background: url('../images/Fanworld.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(7) {width: 253px; height: 177px; background: #f93c05; background: url('../images/Basketball.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(8) {width: 388px; height: 177px; background: #605f33; background: url('../images/Sale.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}
#section5 .cont li:nth-child(9) {width: 659px; height: 177px; background: #9ab77f; margin-right: 0; background: url('../images/Home.jpg'); background-size: cover; border: 2px solid #000; box-sizing: border-box;}

#section5 .cont li .tit {font-size: 24px; line-height: 0.4; font-family: 'Pretendard-Bold'; color: #5c5c5c;}
#section5 .cont li .content {font-size: 14px;}
#section5 .cont li .num {font-size: 100px; color: #6d6d6d; opacity: 1; position: absolute; right: -20px; bottom: -30px;}





#footer {width: 100%; height: 383px; background: #dc052d;}
#footer h2 {text-align: center; font-size: 40px; padding-top: 15px; color: #fff;}
.partner-logos {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; position: relative;}
.partner-logos img {margin: 20px 40px; max-width: 100px; height: auto;}
.centered-logo {position: absolute; top: 50%; left: 48%; transform: translate(-70%, 60%);}
.social-icons {display: flex; justify-content: center; align-items: center;margin-top: 9%;}
.social-icons img {margin: 0 10px; width: 40px; height: auto;}

#footer2 {width: 100%; background: #c60428; padding: 20px 0; color: #fff;}
#footer2 .centerbox {max-width: 1200px; margin: 0 auto; display: flex;
justify-content: space-between; align-items: flex-end;}
#footer2 .centerbox p {margin: 0 0 -5px;; font-size: 18px; font-family: 'Pretendard-Bold';}
.additional-logos {display: flex; justify-content: center; gap: 20px;}
.additional-logos img {width: 60x; height: 60px;}
